<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata3d.hongqi.mapper.PriceInfoMapper">
    <!--批量插入-->
    <insert id="batchInsert"></insert>
    <!--批量更新-->
    <update id="batchUpdate">
        UPDATE price_info
        SET car_series_name = CASE car_series_code
        <foreach collection="updateList" item="priceInfo" open=" " close=" " separator=" ">
        WHEN #{priceInfo.carSeriesCode} THEN #{priceInfo.carSeriesName}
        </foreach>
        END
    </update>
    <update id="setNameByIdList">
        UPDATE price_info
        SET car_series_name = #{carSeriesName}
        where
        id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="getAll" resultType="com.idata3d.hongqi.domain.PriceInfo">
        SELECT * FROM price_info
    </select>
    <!--查询去重的code-->
    <select id="getCodeGroup" resultType="com.idata3d.hongqi.domain.PriceInfo">
        SELECT car_series_code FROM price_info GROUP BY car_series_code
    </select>
    <!--查询没有名称的priceInfo-->
    <select id="getIdCodeLackNameLimit" resultType="com.idata3d.hongqi.domain.PriceInfo">
        SELECT id,car_series_code FROM price_info WHERE car_series_name IS NULL ORDER BY id limit #{start},#{end}
    </select>
    <select id="getLackNameTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM price_info WHERE car_series_name IS NULL;
    </select>
</mapper>